@use "../../../../variables.scss" as *;


:host {
  --gap-padding: 24px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .view-wrapper-scroll {
    width: 100%;
    margin-top: calc(var(--content-padding) / 2);
    max-height: calc(100% - var(--toolbar-height));
  }
}

.profile-card {
  flex: 0.5;
}

:host-context(.screen-small, .screen-x-small) .profile-card {
  min-width: 100%;
  flex: 1;
}

.view-wrapper { 
  position: absolute;
  top: 45px;
  bottom: 25px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;

  & > .dx-toolbar {
    width: auto;
    position: relative;

    &.scrolled {
      padding-bottom: 8px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    dx-button[text="Cancel"] {
      margin-right: 5px;
    }
  }

  .cards-container {
   
    display: flex;
    flex-wrap: wrap;
    margin: 0 1px;
    padding: calc(var(--content-padding) / 2) 0 var(--content-padding);
    gap: 24px;
  }

  .profile-card {  
    .image-wrapper {
      flex: 0 0 44px;
      height: 44px;
      border-radius: 50%;
      margin-right: var(--gap-padding);

      .dx-icon {
        margin: auto;
      }
    }

    
  }

  .basic-info-card { 
    flex: 1;
    min-width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(241, 235, 235);
    .basic-info-top-item {
      form-photo {
        margin-right: var(--content-padding);

        &::ng-deep .photo {
          border-radius: 50%;
        }
      }

      .change-password-button {
        margin-top: calc(var(--content-padding) / 2);
      }
    }
  }

 
}
