::ng-deep .dx-datagrid .dx-data-row > td.bullet {
    padding-top: 0;
    padding-bottom: 0;
  }
  

  .view-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  }