<div class="content-block">
  <dx-data-grid
    #dataGrid
    [dataSource]="dataSource"
    [remoteOperations]="true"
    [focusedRowEnabled]="true"
    keyExpr="id"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [allowColumnResizing]="true"
    [rowAlternationEnabled]="true"
    (onSelectionChanged)="onSelectionChanged($event)"
    (onRowDblClick)="onRowDblClick($event)"
    [height]="'100%'">

    <!-- Toolbar -->
    <dxo-toolbar>
      <dxi-item location="before">
        <div class="grid-header">EkOdemeDetay</div>
      </dxi-item>
      <dxi-item location="after">
        <dx-button icon="plus" text="Yeni" type="default" stylingMode="contained" (onClick)="onAddClick()"></dx-button>
      </dxi-item>
      <dxi-item location="after">
        <dx-button icon="edit" text="Duzenle" (onClick)="onEditClick()"></dx-button>
      </dxi-item>
      <dxi-item location="after">
        <dx-button icon="trash" text="Sil" type="danger" (onClick)="onDeleteClick()"></dx-button>
      </dxi-item>
      <dxi-item location="after">
        <dx-button icon="refresh" hint="Yenile" (onClick)="refresh()"></dx-button>
      </dxi-item>
      <dxi-item name="searchPanel" location="after"></dxi-item>
    </dxo-toolbar>

    <!-- Grid Options -->
    <dxo-paging [enabled]="true" [pageSize]="50"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-search-panel [visible]="true" [width]="200" placeholder="Ara..."></dxo-search-panel>
    <dxo-state-storing [enabled]="true" type="localStorage" storageKey="vem-ek-odeme-detay-grid"></dxo-state-storing>

    <!-- Columns -->
    <dxi-column dataField="ekOdemeDetayKodu" caption="Ek Odeme Detay Kodu" [width]="150"></dxi-column>
    <dxi-column dataField="referansTabloAdi" caption="Referans Tablo Adi" [width]="150"></dxi-column>
    <dxi-column dataField="ekOdemeKodu" caption="Ek Odeme Kodu" [width]="150"></dxi-column>
    <dxi-column dataField="gorevNumarasi" caption="Gorev Numarasi" [width]="150"></dxi-column>
    <dxi-column dataField="kadroKodu" caption="Kadro Kodu" [width]="150"></dxi-column>
    <dxi-column dataField="kadroKatsayisi" caption="Kadro Katsayisi" [width]="150"></dxi-column>
    <dxi-column dataField="girisimselIslemPuani" caption="Girisimsel Islem Puani" [width]="150"></dxi-column>
    <dxi-column dataField="ozellikliIslemPuani" caption="Ozellikli Islem Puani" [width]="150"></dxi-column>
    <dxi-column dataField="tavanKatsayisi" caption="Tavan Katsayisi" [width]="150"></dxi-column>
    <dxi-column dataField="calisilanGunToplami" caption="Calisilan Gun Toplami" [width]="150"></dxi-column>
  </dx-data-grid>
</div>

<!-- Edit Popup -->
<app-form-popup
  [(visible)]="isEditPopupVisible"
  [titleText]="popupTitle"
  [width]="700"
  [height]="500"
  [isLoading]="isLoading"
  (save)="onSaveClick()"
  (cancel)="onCancelClick()">

  <div class="form-container">
    <div class="form-row">
      <div class="form-field" style="flex: 1;">
        <label>Ek Odeme Detay Kodu *</label>
        <dx-text-box [(value)]="formData.ekOdemeDetayKodu" [maxLength]="450"></dx-text-box>
      </div>
      <div class="form-field" style="flex: 1;">
        <label>Referans Tablo Adi *</label>
        <dx-text-box [(value)]="formData.referansTabloAdi" [maxLength]="-1"></dx-text-box>
      </div>
    </div>
    <div class="form-row">
      <div class="form-field" style="flex: 1;">
        <label>Ek Odeme Kodu *</label>
        <dx-text-box [(value)]="formData.ekOdemeKodu" [maxLength]="450"></dx-text-box>
      </div>
      <div class="form-field" style="flex: 1;">
        <label>Gorev Numarasi *</label>
        <dx-text-box [(value)]="formData.gorevNumarasi" [maxLength]="-1"></dx-text-box>
      </div>
    </div>
    <div class="form-row">
      <div class="form-field" style="flex: 1;">
        <label>Kadro Kodu *</label>
        <dx-text-box [(value)]="formData.kadroKodu" [maxLength]="-1"></dx-text-box>
      </div>
      <div class="form-field" style="flex: 1;">
        <label>Kadro Katsayisi *</label>
        <dx-text-box [(value)]="formData.kadroKatsayisi" [maxLength]="-1"></dx-text-box>
      </div>
    </div>
    <div class="form-row">
      <div class="form-field" style="flex: 1;">
        <label>Girisimsel Islem Puani *</label>
        <dx-text-box [(value)]="formData.girisimselIslemPuani" [maxLength]="-1"></dx-text-box>
      </div>
      <div class="form-field" style="flex: 1;">
        <label>Ozellikli Islem Puani *</label>
        <dx-text-box [(value)]="formData.ozellikliIslemPuani" [maxLength]="-1"></dx-text-box>
      </div>
    </div>
    <div class="form-row">
      <div class="form-field" style="flex: 1;">
        <label>Tavan Katsayisi *</label>
        <dx-text-box [(value)]="formData.tavanKatsayisi" [maxLength]="-1"></dx-text-box>
      </div>
      <div class="form-field" style="flex: 1;">
        <label>Calisilan Gun Toplami *</label>
        <dx-text-box [(value)]="formData.calisilanGunToplami" [maxLength]="-1"></dx-text-box>
      </div>
    </div>
    <div class="form-row">
      <div class="form-field" style="flex: 1;">
        <label>Calisilan Saat Toplami *</label>
        <dx-text-box [(value)]="formData.calisilanSaatToplami" [maxLength]="-1"></dx-text-box>
      </div>
      <div class="form-field" style="flex: 1;">
        <label>Aktif Calisilan Gun Katsayisi *</label>
        <dx-text-box [(value)]="formData.aktifCalisilanGunKatsayisi" [maxLength]="-1"></dx-text-box>
      </div>
    </div>
    <div class="form-row">
      <div class="form-field" style="flex: 1;">
        <label>Hastane Puan Ortalamasi *</label>
        <dx-text-box [(value)]="formData.hastanePuanOrtalamasi" [maxLength]="-1"></dx-text-box>
      </div>
      <div class="form-field" style="flex: 1;">
        <label>Klinik Kodu *</label>
        <dx-text-box [(value)]="formData.klinikKodu" [maxLength]="450"></dx-text-box>
      </div>
    </div>
    <div class="form-row">
      <div class="form-field" style="flex: 1;">
        <label>Klinik Puan Ortalamasi *</label>
        <dx-text-box [(value)]="formData.klinikPuanOrtalamasi" [maxLength]="-1"></dx-text-box>
      </div>
      <div class="form-field" style="flex: 1;">
        <label>Brut Performans Puani *</label>
        <dx-text-box [(value)]="formData.brutPerformansPuani" [maxLength]="-1"></dx-text-box>
      </div>
    </div>
    <div class="form-row">
      <div class="form-field" style="flex: 1;">
        <label>Ek Performans Puani *</label>
        <dx-text-box [(value)]="formData.ekPerformansPuani" [maxLength]="-1"></dx-text-box>
      </div>
      <div class="form-field" style="flex: 1;">
        <label>Net Performans Puani *</label>
        <dx-text-box [(value)]="formData.netPerformansPuani" [maxLength]="-1"></dx-text-box>
      </div>
    </div>
    <div class="form-row">
      <div class="form-field" style="flex: 1;">
        <label>Egitici Destekleme Puani *</label>
        <dx-text-box [(value)]="formData.egiticiDesteklemePuani" [maxLength]="-1"></dx-text-box>
      </div>
      <div class="form-field" style="flex: 1;">
        <label>Bilimsel Calisma Puani *</label>
        <dx-text-box [(value)]="formData.bilimselCalismaPuani" [maxLength]="-1"></dx-text-box>
      </div>
    </div>
    <div class="form-row">
      <div class="form-field" style="flex: 1;">
        <label>Serbest Meslek Katsayisi *</label>
        <dx-text-box [(value)]="formData.serbestMeslekKatsayisi" [maxLength]="-1"></dx-text-box>
      </div>
      <div class="form-field" style="flex: 1;">
        <label>Ekleyen Kullanici Kodu </label>
        <dx-text-box [(value)]="formData.ekleyenKullaniciKodu" [maxLength]="-1"></dx-text-box>
      </div>
    </div>
    <div class="form-row">
      <div class="form-field" style="flex: 1;">
        <label>Kayit Zamani </label>
        <dx-date-box [(value)]="formData.kayitZamani" displayFormat="dd.MM.yyyy" type="date"></dx-date-box>
      </div>
      <div class="form-field" style="flex: 1;">
        <label>Guncelleyen Kullanici Kodu </label>
        <dx-text-box [(value)]="formData.guncelleyenKullaniciKodu" [maxLength]="-1"></dx-text-box>
      </div>
    </div>
    <div class="form-row">
      <div class="form-field" style="flex: 1;">
        <label>Guncelleme Zamani </label>
        <dx-date-box [(value)]="formData.guncellemeZamani" displayFormat="dd.MM.yyyy" type="date"></dx-date-box>
      </div>
    </div>
  </div>
</app-form-popup>
