<div class="content-block">
  <dx-data-grid
    #dataGrid
    [dataSource]="dataSource"
    [remoteOperations]="true"
    [focusedRowEnabled]="true"
    keyExpr="id"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [allowColumnResizing]="true"
    [rowAlternationEnabled]="true"
    (onSelectionChanged)="onSelectionChanged($event)"
    (onRowDblClick)="onRowDblClick($event)"
    [height]="'100%'">

    <!-- Toolbar -->
    <dxo-toolbar>
      <dxi-item location="before">
        <div class="grid-header">NobetciPersonelBilgisi</div>
      </dxi-item>
      <dxi-item location="after">
        <dx-button icon="plus" text="Yeni" type="default" stylingMode="contained" (onClick)="onAddClick()"></dx-button>
      </dxi-item>
      <dxi-item location="after">
        <dx-button icon="edit" text="Duzenle" (onClick)="onEditClick()"></dx-button>
      </dxi-item>
      <dxi-item location="after">
        <dx-button icon="trash" text="Sil" type="danger" (onClick)="onDeleteClick()"></dx-button>
      </dxi-item>
      <dxi-item location="after">
        <dx-button icon="refresh" hint="Yenile" (onClick)="refresh()"></dx-button>
      </dxi-item>
      <dxi-item name="searchPanel" location="after"></dxi-item>
    </dxo-toolbar>

    <!-- Grid Options -->
    <dxo-paging [enabled]="true" [pageSize]="50"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[20, 50, 100]" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-search-panel [visible]="true" [width]="200" placeholder="Ara..."></dxo-search-panel>
    <dxo-state-storing [enabled]="true" type="localStorage" storageKey="vem-nobetci-personel-bilgisi-grid"></dxo-state-storing>

    <!-- Columns -->
    <dxi-column dataField="nobetciPersonelBilgisiKodu" caption="Nobetci Personel Bilgisi Kodu" [width]="150"></dxi-column>
    <dxi-column dataField="referansTabloAdi" caption="Referans Tablo Adi" [width]="150"></dxi-column>
    <dxi-column dataField="skrsKurumKodu" caption="Skrs Kurum Kodu" [width]="150"></dxi-column>
    <dxi-column dataField="personelTcKimlikNumarasi" caption="Personel Tc Kimlik Numarasi" [width]="150"></dxi-column>
    <dxi-column dataField="klinikKodu" caption="Klinik Kodu" [width]="150"></dxi-column>
    <dxi-column dataField="gorevTuru" caption="Gorev Turu" [width]="150"></dxi-column>
    <dxi-column dataField="personelGorevKodu" caption="Personel Gorev Kodu" [width]="150"></dxi-column>
    <dxi-column dataField="nobetBaslangicTarihi" caption="Nobet Baslangic Tarihi" dataType="date" format="dd.MM.yyyy" [width]="100"></dxi-column>
    <dxi-column dataField="nobetBitisTarihi" caption="Nobet Bitis Tarihi" dataType="date" format="dd.MM.yyyy" [width]="100"></dxi-column>
    <dxi-column dataField="telefonNumarasi" caption="Telefon Numarasi" [width]="150"></dxi-column>
  </dx-data-grid>
</div>

<!-- Edit Popup -->
<app-form-popup
  [(visible)]="isEditPopupVisible"
  [titleText]="popupTitle"
  [width]="700"
  [height]="500"
  [isLoading]="isLoading"
  (save)="onSaveClick()"
  (cancel)="onCancelClick()">

  <div class="form-container">
    <div class="form-row">
      <div class="form-field" style="flex: 1;">
        <label>Nobetci Personel Bilgisi Kodu *</label>
        <dx-text-box [(value)]="formData.nobetciPersonelBilgisiKodu" [maxLength]="450"></dx-text-box>
      </div>
      <div class="form-field" style="flex: 1;">
        <label>Referans Tablo Adi *</label>
        <dx-text-box [(value)]="formData.referansTabloAdi" [maxLength]="-1"></dx-text-box>
      </div>
    </div>
    <div class="form-row">
      <div class="form-field" style="flex: 1;">
        <label>Skrs Kurum Kodu *</label>
        <dx-text-box [(value)]="formData.skrsKurumKodu" [maxLength]="450"></dx-text-box>
      </div>
      <div class="form-field" style="flex: 1;">
        <label>Personel Tc Kimlik Numarasi *</label>
        <dx-text-box [(value)]="formData.personelTcKimlikNumarasi" [maxLength]="-1"></dx-text-box>
      </div>
    </div>
    <div class="form-row">
      <div class="form-field" style="flex: 1;">
        <label>Klinik Kodu *</label>
        <dx-text-box [(value)]="formData.klinikKodu" [maxLength]="450"></dx-text-box>
      </div>
      <div class="form-field" style="flex: 1;">
        <label>Gorev Turu *</label>
        <dx-text-box [(value)]="formData.gorevTuru" [maxLength]="450"></dx-text-box>
      </div>
    </div>
    <div class="form-row">
      <div class="form-field" style="flex: 1;">
        <label>Personel Gorev Kodu *</label>
        <dx-text-box [(value)]="formData.personelGorevKodu" [maxLength]="450"></dx-text-box>
      </div>
      <div class="form-field" style="flex: 1;">
        <label>Nobet Baslangic Tarihi *</label>
        <dx-date-box [(value)]="formData.nobetBaslangicTarihi" displayFormat="dd.MM.yyyy" type="date"></dx-date-box>
      </div>
    </div>
    <div class="form-row">
      <div class="form-field" style="flex: 1;">
        <label>Nobet Bitis Tarihi *</label>
        <dx-date-box [(value)]="formData.nobetBitisTarihi" displayFormat="dd.MM.yyyy" type="date"></dx-date-box>
      </div>
      <div class="form-field" style="flex: 1;">
        <label>Telefon Numarasi *</label>
        <dx-text-box [(value)]="formData.telefonNumarasi" [maxLength]="-1"></dx-text-box>
      </div>
    </div>
    <div class="form-row">
      <div class="form-field" style="flex: 1;">
        <label>Ekleyen Kullanici Kodu </label>
        <dx-text-box [(value)]="formData.ekleyenKullaniciKodu" [maxLength]="-1"></dx-text-box>
      </div>
      <div class="form-field" style="flex: 1;">
        <label>Kayit Zamani </label>
        <dx-date-box [(value)]="formData.kayitZamani" displayFormat="dd.MM.yyyy" type="date"></dx-date-box>
      </div>
    </div>
    <div class="form-row">
      <div class="form-field" style="flex: 1;">
        <label>Guncelleyen Kullanici Kodu </label>
        <dx-text-box [(value)]="formData.guncelleyenKullaniciKodu" [maxLength]="-1"></dx-text-box>
      </div>
      <div class="form-field" style="flex: 1;">
        <label>Guncelleme Zamani </label>
        <dx-date-box [(value)]="formData.guncellemeZamani" displayFormat="dd.MM.yyyy" type="date"></dx-date-box>
      </div>
    </div>
  </div>
</app-form-popup>
