<dx-popup
  [title]="titleText"
  [(visible)]="visible"
  [width]="responsiveWidth"
  [height]="responsiveHeight"
  [showCloseButton]="showCloseButton"
  [dragEnabled]="dragEnabled"
  [resizeEnabled]="resizeEnabled"
  [hideOnOutsideClick]="closeOnOutsideClick"
  [showTitle]="true"
  (onHidden)="close()">

  <!-- Loading Panel -->
  <dx-load-panel
    [visible]="isLoading"
    [showPane]="true"
    [shading]="true"
    shadingColor="rgba(0,0,0,0.4)"
    [showIndicator]="true"
    [position]="{ of: '#formPopupContent' }"
    [message]="loadingMessage"
    class="form-popup-loader">
  </dx-load-panel>

  <!-- Content -->
  <div id="formPopupContent" class="popup-content-container">
    <dx-validation-group #validationGroup>
      <ng-content></ng-content>
    </dx-validation-group>
  </div>

  <!-- Bottom Toolbar -->
  <dxi-toolbar-item toolbar="bottom" location="after" *ngIf="showSaveButton">
    <div *dxTemplate>
      <dx-button [text]="saveButtonText" type="default" stylingMode="contained" [disabled]="isLoading" (onClick)="onSaveClick()"></dx-button>
    </div>
  </dxi-toolbar-item>
  <dxi-toolbar-item toolbar="bottom" location="after" *ngIf="showCancelButton">
    <div *dxTemplate>
      <dx-button [text]="cancelButtonText" stylingMode="outlined" (onClick)="onCancelClick()"></dx-button>
    </div>
  </dxi-toolbar-item>
  <dxi-toolbar-item toolbar="bottom" location="after" *ngIf="showQuitButton">
    <div *dxTemplate>
      <dx-button [text]="quitButtonText" stylingMode="outlined" (onClick)="onQuitClick()"></dx-button>
    </div>
  </dxi-toolbar-item>
</dx-popup>
